.links {
    position: relative;
    text-decoration: none;
  }
  
  .links::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black; /* Change to your desired underline color */
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
  }
  
  .links:hover::after {
    width: 100%;
  }
  
  @font-face {
    font-family: 'Kamerik';
    src: url('./font/Kamerik\ 205\ Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
    
  }
  
  body {
    font-family: 'Kamerik', sans-serif;
  }